.b-home {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--yellow);
        min-height: 100vh;
    }

    &__hero {
        text-align: center;
        width: 80%;
    }

    &__history{
        text-align: center;
        width: 80%;
    }

    &__titles {
        color: var(--red);
    }

}

section {
    margin: 60px 0 130px 0;
}

.b-position-nav {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 0%);
}